@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@500;700&display=swap');


.video {
    padding-left: 1vw;
    padding-right :1vw;
    padding-top : 1vw;
}
.text {
    text-align:center;
    font-family: 'Kodchasan' !important; 
    font-size: bold;
    font-size : 2vw;
}