@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

.photo {
  width: 160px;
}

.containerBouton {
  text-align: center;
  margin-top: 4rem;
  font-family: 'East Sea Dokdo' !important;
}

.buttonFinish {
  border-radius:50px !important;
  font-size : 2rem !important;
}

.containerTitle {
  text-align: center;
}

.containerPerson {
  margin-top: 3rem;
}
.h1 {
  font-family: 'East Sea Dokdo' !important;
  color:white;
  font-size : 4rem;

}
.h2 {
  margin-top: 4rem !important;
  font-family:  'Livvic' !important;
  font-weight: bold;
  color: beige;
  font-size: 3rem;
}

.ContainerBody {
  background-image: url('https://images.unsplash.com/photo-1421284621639-884f4129b61d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  height:100vh;
  background-repeat: no-repeat;
}
