@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');


.ContainerCarousel {
  height: 100vh;
}

.img {
  background-size: cover;
}

.button {
  position: absolute;
  right: 0;
  bottom: 5vw;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 43%;
  width:15vw;
  background-color: !important;
  border-radius : 50px !important;
  font-family: 'East Sea Dokdo' !important;
  font-size : 2rem !important;
}

.h1 {
    position: absolute;
    right: 0;
    bottom: 35vw;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;  
    margin-right: 25%;
    margin-left: 25%;
    font-size : 3rem;
    color: white;
    background-color : rgba(190, 83, 34, 0.6);
    border-radius : 50px;
    font-family: 'Livvic';  
    font-weight: bold;  

}

.arrowCarousel {
  background-color: #B9D6DD;
  width: 10% !important;
}

